*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    padding-top: 15%;
}
.container{
    width: 500px;
    height: 250px;
    margin: 0 auto;
}
.eye{
    width: 350px;
    height: 150px;
    margin: 0 auto;
    margin-top: 50px;
    border: 2px solid #000;
    border-radius:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(250, 244, 244);
}
.circle{
    width: 135px;
    height: 135px;
    border-radius: 50%;
    background-image: linear-gradient(rgb(40, 40, 172),rgb(53, 66, 127));
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: circle;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.mini_circle{
    width: 80px;
    height: 80px;
    background-color: black;
    border-radius: 50%;
    animation-name: mini_circle;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.mini{
    width: 20px;
    height: 20px;
    background-color: rgb(204, 196, 196);
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 40px;
}
@keyframes circle{
    50%{
        margin-left: 60px;
    }
    100%{
        margin-right: 40px;
    }
}
@keyframes mini_circle{
    50%{
        margin-left:40px;
    }
    100%{
        margin-right: 30px;
    }
}